.ant-modal .ant-modal-footer {
  text-align: center;
  padding-top: 15px;
}

.kt-btn {
  width: 200px;
  height: 40px;
}

.tab-nav {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  .tab-layout {
    width: 260px;
  }
}

.desc {
  padding: 10px 0 20px;
  color: var(--color-text-2);
}

.model-wrapper {
  min-height: 40vh;
}

.model-wrapper .list {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 15px;

  max-height: 40vh;
  overflow-y: auto;
  padding-right: 10px;

  .ant-collapse {
    margin-top: 10px;
  }
  .ant-collapse-content {
    padding: 10px 5px;
  }
}

.model-wrapper .list .item {
  width: 100%;
  display: flex;
  gap: 10px;
  position: relative;
  padding: 5px 10px;
  border-radius: var(--base-border-radius);
}

.model-wrapper .list .item .left {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 10px;
}

.model-wrapper .list .item:not(:first-child) {
  margin-top: 10px;
}

body.light .model-wrapper .list .item {
}

.model-wrapper .list .item:hover {
  background: var(--color-gray-5);
}

.model-wrapper .list .item.selected {
  background: linear-gradient(270deg, #ffe8c5 0%, #fff8e8 100%);
}

.model-wrapper .list .item.disabled {
  pointer-events: none;
  opacity: 0.5;
  cursor: not-allowed;
}

.checked-img {
  width: 18px;
  height: 19px;
  position: absolute;
  right: 0;
  top: 0;
}

.vip-img {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 0;
  top: 0;
}

.model-img {
  width: 30px;
  max-height: 30px;
}

.loading {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
